html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


@font-face {
    font-family: beyondMountains;
    src: url(../fonts/beyond_the_mountains.otf);
}


@font-face {
    font-family: robotoThin;
    src: url(../fonts/roboto.thin.ttf);
}

@font-face {
    font-family: robotoLight;
    src: url(../fonts/roboto.light.ttf);
}


body {
    line-height: 1;
    font-family: robotoThin;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
footer{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    background: cornflowerblue;
}

header,footer{
    font-family: beyondMountains;
    position: absolute;
    width: 100%;
    height: 70px;
    top: 0px;
    background: white;
    color: white;
    box-shadow: 0px 2px 5px #00000029;
}
footer{
    bottom: 0;
    top: unset;
    box-shadow: 0px -2px 5px #00000029;
}

h1 { 
    display: block;
    font-size: 1.25em;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    margin-left: 0;
    margin-right: 0;
}

header div,footer div,.single-card .info div,.interract-section div{
    float: left;
}
footer div{
    width:25%;
    height: 100%;
}
.cam-button,.search-button{
    width: 20%;
    height: 100%;
    background-image:url(../images/cam_icon.png);
}
.cam-button,.search-button,.Home,.Profile,.Bookmark,.Notification{
    background-size: 2em;
    background-repeat: no-repeat;
    background-position: 50%;
}
.cam-button{
    background-size: 3em;
}
.search-button{
    background-image:url(../images/search_icon.png);
}
.Home{
    background-image:url(../images/home_icon.png);
}
.Profile{
    background-image:url(../images/profile_icon.png);
}
.Bookmark{
    background-image:url(../images/bookmark_icon.png);
}
.Notification{
    background-image:url(../images/notification_icon.png);
}
.page-title{
    width: 60%;
    height:70px;
    color:black;
    text-align: center;
}
.Feed-Wrapper{
    width: 100%;
    position: absolute;
    top: 70px;
    bottom: 70px;
    overflow: auto;
}
.single-card{
    width: 100%;
    min-height: 510px;
    height: auto;
    border-bottom: 1px solid #8b838357;
    padding: 8px 0px;
}
.info{
    width: 100%;
    height: 60px;
}
.profile-pic{
    width: 15%;
    height: 100%;
    background-image: url('../images/profile_pic.png');
    background-repeat: no-repeat;
    background-size: 2.5em;
    background-position: 50%;
}
.name{
    width:75%;
    height: 100%;
    font-family: robotoLight;
}
.more-options{
    width: 10%;
    height: 100%;
    background-image: url('../images/more-options.png');
    background-repeat: no-repeat;
    background-size: 3.5em;
    background-position: 50%;
}
.name h2{
    padding: 1.2em 0.5em;
}
.card-image{
    width: 100%;
    height: 350px;
    background-image: url('../images/card_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.description{
    width: 100%;
    height: 60px;
    margin-top: -60px;
    background: #00000061;
    color: white;
    text-align: center;
}
.description:before {      /* create a full-height inline block pseudo-element */
    content: ' ';
    display: inline-block;
    vertical-align: middle; /* vertical alignment of the inline element */
    height: 100%;
}
.interract-section{
    width: 100%;
    height:50px;
}
.interract-section .like,.interract-section .message,.interract-section .share,.interract-section .bookmark{
    width: 15%;
    height: 100%;
    background-image: url('../images/like_icon.png');
    background-repeat: no-repeat;
    background-size: 2em;
    background-position: 50%;
}
.interract-section .message{
    background-image: url('../images/message_icon.png');
}
.interract-section .share{
    background-image: url('../images/link_icon.png');
}
.interract-section .bookmark{
    background-image: url('../images/bookmark_icon.png');
}
.comments{
    width: 94%;
    padding: 0 3%;
}
.comments ul li{
    padding:3px 0;
}