<div class="single-card">
    <div class="info">
        <div class="profile-pic"></div>
        <div class="name"><h2>Mohammad Rayyan</h2></div>
        <div class="more-options"></div>
    </div>
    <div class="card-image">

    </div>
    <div class="description">"Take the risk, or loose a chance"</div>
    <div class="interract-section">
        <div class="like"></div>
        <div class="message"></div>
        <div class="share"></div>
        <div class="bookmark"></div>
    </div>
    <div class="comments">
        <ul>
            <li><b>John:</b> awesome photograthy...</li>
            <li><b>Steve:</b> wish i could be there, Enjoy holidays :-)</li>
        </ul>
        
        

    </div>
</div>